<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Иерархичный список задач</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row row-header">                
                <div class="col-sm-3 col-md-2">
                    <img src="static/logo.png" class="img-responsive" alt="To-do list logo">
                </div>
                <div class="col-sm-9 col-md-10">
                    <h3 style="color: #1580ff;" >Иерархичный список задач</h3>
                    <div>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="copyToClipInput" value="http://todo-list.ru/{{ list }}" readonly >
                                    <span class="input-group-btn" >
                                        <button type="button" class="btn btn-success bigRightMargin" id="copyToClipButton" aria-label="Shared Link" data-toggle="tooltip" data-placement="bottom" title="Скопировать ссылку в буфер обмена" onclick="shareClick();">
                                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span><span class="smallLeftMargin">Поделиться списком</span>
                                        </button>
                                    </span>
                                </div>
                                
                                <button type="button" class="btn btn-primary" id="newListButton" aria-label="New List" data-toggle="tooltip" data-placement="bottom" title="Открыть новый список задач" onclick="newListClick();">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="smallLeftMargin">Новый список</span>
                                </button>
                            </div>                            
                        </form>
                        
                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12">
                <h3>Список задач:</h3>
            </div>
            <div class="col-xs-12">
                <ul class="list-unstyled" id="tasks-ul" name="tasks-ul">
                    {% load subtasks %} {% for task in tasks %} {% get_task_children task %} {% endfor %}
                </ul>
            </div>

            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" name="taskdescr" id="taskdescr" placeholder="Описание задачи...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary add-btn" type="button" name="add-btn">Добавить задачу</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br>
                <p class="text-center brandColor">Сайт изготовлен командой "Иерархичный to-do list"</p>
            </div>
        </div>
    </div>

    <div class="templates">
        <div id="taskTemplate">
            <li>
                <div class="checkbox">
                    <label>
                        <div class="col-xs-6">
                            <input type="checkbox" class="taskCheckbox">
                            <label class="taskTitle"></label>
                        </div>

                        <div class="input-group col-xs-6 addSubtask">
                            <input maxlength="400" type="text" class="form-control taskdescr" name="taskdescr"
                                   placeholder="Описание подзадачи..." />
                            <span class="input-group-btn">
                                <button class="btn btn-primary add-btn" type="button" name="add-btn">Добавить подзадачу</button>
                            </span>
                        </div>
                        <ul class="list-unstyled">

                        </ul>
                    </label>
                </div>
            </li>
        </div>

        <div id="subtaskTemplate">
            <li>
                <div class="checkbox subcheckbox">
                    <label>
                        <input maxlength="400" type="checkbox" class="taskCheckbox">
                        <label class="taskTitle"></label>
                    </label>
                </div>
            </li>
        </div>
    </div>

    <script type="text/javascript" src="static/script.js">
    </script>
</body>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter36844290 = new Ya.Metrika({
                    id: 36844290,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {}
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript data-brackets-id='8053'>
    <div data-brackets-id='8054'><img data-brackets-id='8055' src="https://mc.yandex.ru/watch/36844290" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>
<!-- /Yandex.Metrika counter -->

</html>