<li data-task-id="{{ task.id }}" class="{% if task.done %}done{% endif %}">
    <div class="checkbox">
        <label>
            <div class="col-xs-6">
                <input type="checkbox" id="{{ task.id }}" {% if task.done %}checked disabled {% endif %} class="taskCheckbox">
                <label>{{ task.title }}</label>
            </div>

            <div class="input-group col-xs-6 addSubtask">
                <input maxlength="400" type="text" class="form-control taskdescr new_task_description" name="taskdescr" placeholder="Описание подзадачи...">
                <span class="input-group-btn">
                    <button class="btn btn-primary add-btn" type="button" name="add-btn">Добавить подзадачу</button>
                </span>
            </div>
            <ul class="list-unstyled">
                {% for subtask in list %}
                <li>
                    <div class="checkbox subcheckbox">
                        <label>
                            <input class="taskCheckbox" maxlength="400" type="checkbox" id="{{ subtask.id }}" {% if subtask.done %}checked disabled {% endif %}>
                            <label>{{ subtask.title }}</label>
                        </label>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </label>
    </div>
</li>